<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset = "UTF-8" />
<link href = "../static/css/error.css" th:href="@{/css/error.css}" rel = "stylesheet"/>
<title>Spring Boot Application</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous">
</head>
<body>
<h1 class="went-wrong">
<hr>
<h1>Something went wrong...</h1>
<h1 class="top-icons">
<h1>
<i class="fa-solid fa-face-sad-tear"></i>
</h1>
</h1>
</h1> 
<h1 class="working">
<h2>You don't have the permission</h2>
</h1>
<div class="btn">
<a href="/" class="button">Go Home</a>
</h1>
</h1>
</body>
</html>
